
.all-container{
    max-width: 1200px;
}


/* nav styles */

.products{
    color: #3A3A3A;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-links{
    display: flex;
   
}
.nav-item{
    list-style: none;
   margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 500px;
    font-size: 1rem;
}
.influenc-header{
    display: flex;
    justify-content: space-between;
}

/* journey-influencer */
.journey-container{
    display: flex;
    gap: 130px;
}

.journey-content{
    width: 580px;
    height: 270px;
    margin-left: 120px;
}
.journey-head{
    font-weight: bold;
    font-size: 3.25rem;
    color: #3A3A3A;
    margin-bottom: 16px;
}
.paragraph{
    color: #3A3A3A;
    font-weight: 500px;
    font-size: 1rem;
}
.btn-journey{
    width: 195px;
    height: 45px;
    border-radius: 25px;
    border-style: none;
    color: #FFFFFF;
    background-color: #E02C6D;
}
.journey-image{
    width: 475px;
    height: 475px;
    background-image: url(/images/Circle\ design\ \(4\).svg);
    margin-right: 130px;
}
.journey-company{
    width: 1110px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    background-color: #AAAAAA;
    margin-left: 70px;
    /* margin-right: 130px; */
    margin-top: 100px;
    /* justify-content: center; */
    align-items: center;
}
/* popular collection */
.Popular-Collection{
    width: 1045px;
    height: 1660px;
    /* margin-left: 197px;
    margin-right: 197px; */
    margin: 0px auto;
}
.collection-container{
   margin
   margin-top: 100px;
   display: flex;
}
.collection-head{
    text-align: center;
}
.flex-content{
    width: 329px;
    height: 476px;
    background-color: #FFFFFF;
    margin-left: 195px;
}
.flex-image{
    width: 300px;
    height: 255px;
   padding-top: 17px;
   padding-left: 14px;
   padding-right: 15px;
}
.head-2{
    font-weight: 500px;
    font-size: 1.25rem;
    color: #18191F;
    padding-left: 14px;
    padding-right: 164px;
}
.head-3{
    font-weight: 400px;
    font-size: 1.25rem;
    color: #000000;
    padding-left: 14px;
    padding-right: 233px;
}
.peru{
    font-weight: bold;
    font-size: 0.875rem;
    color: #787885;
    padding-left: 14px;
    padding-right: 119px;
    padding-bottom: 17px;
}
/* microphone styles */
.microphone-content{
    width: 329px;
    height: 476px;
    background-color: #FFFFFF;
    margin-left: 195px;
}
.micro-image{
    width: 300px;
    height: 255px;
    padding-top: 17px;
    padding-left: 14px;
    padding-right: 15px;
}
.head-m2{
    font-weight: 500px;
    font-size: 1.25rem;
    color: #18191F;
    padding-left: 14px;
    padding-right: 142px;
}
.head-m3{
    font-weight: 400px;
    font-size: 1.25rem;
    color: #000000;
    padding-left: 14px;
    padding-right: 233px;
}
.peru-m{
    font-weight: bold;
    font-size: 0.875rem;
    color: #787885;
    padding-left: 14px;
    padding-right: 119px;
    padding-bottom: 17px;
}
/* Airbuds styles */
.airbuds-content{
    width: 329px;
    height: 476px;
    background-color: #FFFFFF;
    margin-left: 195px;
}
.airbuds-image{
    width: 300px;
    height: 255px;
    padding-top: 17px;
    padding-left: 14px;
    padding-right: 15px;
}
.head-a2{
    font-weight: 500px;
    font-size: 1.25rem;
    color: #18191F;
    padding-left: 14px;
    padding-right: 142px;
}
.head-a3{
    font-weight: 400px;
    font-size: 1.25rem;
    color: #000000;
    padding-left: 14px;
    padding-right: 233px;
}
.peru-a{
    font-weight: bold;
    font-size: 0.875rem;
    color: #787885;
    padding-left: 14px;
    padding-right: 119px;
    padding-bottom: 17px;
}
/* drone styles */
.drone-content{
    width: 329px;
    height: 476px;
    background-color: #FFFFFF;
    margin-left: 195px;
}
.drone-image{
    width: 300px;
    height: 255px;
    padding-top: 17px;
    padding-left: 14px;
    padding-right: 15px;
}
.head-d2{
    font-weight: 500px;
    font-size: 1.25rem;
    color: #18191F;
    padding-left: 14px;
    padding-right: 142px;
}
.head-d3{
    font-weight: 400px;
    font-size: 1.25rem;
    color: #000000;
    padding-left: 14px;
    padding-right: 233px;
}
.peru-d{
    font-weight: bold;
    font-size: 0.875rem;
    color: #787885;
    padding-left: 14px;
    padding-right: 119px;
    padding-bottom: 17px;
}

/* featured-products styles */


.feature-container{
    width: 1110px;
    height: 270px;
    display: flex;
    /* align-items: center;  */
    gap: 100px;
    margin-top: 100px;
    margin-left: 165px;
    margin-right: 165px;
    margin-bottom: 100px;
    
}
.feature-image{
   width: 404px;
   height: 270px;
}
.feature-content{
    width: 610px;
    height: 224px;
    color: #0A0826;
}
.feature-head{
    font-weight: bold;
    font-size: 2.375rem;
    margin-bottom: 16px;
}
.feature-peru{
    font-weight: bold;
    font-size: 1rem;
    color: #6C6C6C;
}
.btn-feature{
    width: 150px;
    height: 45px;
    font-weight: bold;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #E02C6D;
    border-style: none;

}
/* footer styles */
/* .footer-container{
    width: 100%;
    height: 150px;
    background-color: #0A0826;
} */
.footer-box{
    width: 260px;
    height: 140px;
}
.footer-content{
    text-align: center;
}
.footer-head{
    font-weight: bold;
    font-size: 1.25px;
    color: #FFFFFF;
}


